[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
request = "*"
pandas = "*"
tqdm = "*"
requests = "*"
xlrd = "*"
pyexcel = "*"
pyexcel-xls = "*"
coverage = "*"
flask-script = "*"
xlsxwriter = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]