[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
tqdm = "*"
requests = "*"
xlrd = "*"
pyexcel = "*"
pyexcel-xls = "*"
coverage = "*"
flask-script = "*"
xlsxwriter = "*"
requests-html = "*"
matplotlib = "*"
seaborn = "*"


[dev-packages]



[requires]

python_version = "3.6"


[scripts]

